@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  margin-top: 100px;
  margin-bottom: 100px;
  width: auto;
  background-color: white;
  text-align: center
}

.btn-primary {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

body {
  background-color: lightgrey;
}


